@charset "UTF-8";

/*------------------------------
Общие настройки
-------------------------------*/
.noScroll{
  overflow-y: hidden;
}
$darkGray:#37363a;
$blue: #4bbaff;
$red: #d92200;

/*------------------------------
Блок для админ панели
-------------------------------*/
#admBar {
  $w: 250px;
  position: fixed;
  top: 0;
  left: -$w;
  z-index: 99;
  width: $w;
  height: 100%;
  background: $darkGray;

  &>a.tymbler{
    display:block;
    position: absolute;
    left: 100%;
    top: 50px;
    background: $darkGray;
    color: white;
    padding: 5px 10px;

    &:hover, &.active{
      color: $blue ;

    }
  }
  ul.listBtns{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 30px 10px;
    background: $darkGray;


    li{
      padding: 6px 8px;
      position: relative;
      border-bottom: 1px solid rgba(white, 0.3);

      &>a{
        font-size: 14px;
        text-decoration: none;
        color: white;

        &:hover{
          color: $blue;
        }
      }
    }

  }
}
a.login{
  display:block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  text-decoration: none;
}