@charset "UTF-8";
@import "settings";

%flex{
  display: flex;
  flex-wrap: wrap;

}


main{
  @extend %flex;
  position: relative;
  max-width: 1024px; margin: 0 auto;
  justify-content: space-between;

  &>section{
    width: 50%;
    box-sizing: border-box;



  }
}
