@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background: #e1e1e1;
  font-family: Verdana, sans-serif; }

#bigSlider .listItems, #bigSlider .listItems > li a, #products > .catBlock .flex, #products > .listItems > li {
  display: flex;
  flex-wrap: wrap; }

#bigSlider .listItems, #products > .listItems {
  list-style: none;
  margin: 0;
  padding: 0; }

#bigSlider, #products {
  position: relative;
  max-width: 1024px;
  margin: 0 auto; }

/*-----------------------------------
Доп Классы
-----------------------------------*/
.tLeft {
  text-align: left; }

.tRight {
  text-align: right; }

.tCenter {
  text-align: center; }

.mt0 {
  margin-top: 0px; }

.mb0 {
  margin-bottom: 0px; }

.mr0 {
  margin-right: 0px; }

.ml0 {
  margin-left: 0px; }

.mt5 {
  margin-top: 5px; }

.mb5 {
  margin-bottom: 5px; }

.mr5 {
  margin-right: 5px; }

.ml5 {
  margin-left: 5px; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mr15 {
  margin-right: 15px; }

.ml15 {
  margin-left: 15px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

.mt25 {
  margin-top: 25px; }

.mb25 {
  margin-bottom: 25px; }

.mr25 {
  margin-right: 25px; }

.ml25 {
  margin-left: 25px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mr30 {
  margin-right: 30px; }

.ml30 {
  margin-left: 30px; }

.mt35 {
  margin-top: 35px; }

.mb35 {
  margin-bottom: 35px; }

.mr35 {
  margin-right: 35px; }

.ml35 {
  margin-left: 35px; }

.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mr40 {
  margin-right: 40px; }

.ml40 {
  margin-left: 40px; }

.mt45 {
  margin-top: 45px; }

.mb45 {
  margin-bottom: 45px; }

.mr45 {
  margin-right: 45px; }

.ml45 {
  margin-left: 45px; }

.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mr50 {
  margin-right: 50px; }

.ml50 {
  margin-left: 50px; }

.mt55 {
  margin-top: 55px; }

.mb55 {
  margin-bottom: 55px; }

.mr55 {
  margin-right: 55px; }

.ml55 {
  margin-left: 55px; }

.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.mr60 {
  margin-right: 60px; }

.ml60 {
  margin-left: 60px; }

.mt65 {
  margin-top: 65px; }

.mb65 {
  margin-bottom: 65px; }

.mr65 {
  margin-right: 65px; }

.ml65 {
  margin-left: 65px; }

.mt70 {
  margin-top: 70px; }

.mb70 {
  margin-bottom: 70px; }

.mr70 {
  margin-right: 70px; }

.ml70 {
  margin-left: 70px; }

.mt75 {
  margin-top: 75px; }

.mb75 {
  margin-bottom: 75px; }

.mr75 {
  margin-right: 75px; }

.ml75 {
  margin-left: 75px; }

.mt80 {
  margin-top: 80px; }

.mb80 {
  margin-bottom: 80px; }

.mr80 {
  margin-right: 80px; }

.ml80 {
  margin-left: 80px; }

.mt85 {
  margin-top: 85px; }

.mb85 {
  margin-bottom: 85px; }

.mr85 {
  margin-right: 85px; }

.ml85 {
  margin-left: 85px; }

.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.mr90 {
  margin-right: 90px; }

.ml90 {
  margin-left: 90px; }

.mt95 {
  margin-top: 95px; }

.mb95 {
  margin-bottom: 95px; }

.mr95 {
  margin-right: 95px; }

.ml95 {
  margin-left: 95px; }

.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.mr100 {
  margin-right: 100px; }

.ml100 {
  margin-left: 100px; }

.mt105 {
  margin-top: 105px; }

.mb105 {
  margin-bottom: 105px; }

.mr105 {
  margin-right: 105px; }

.ml105 {
  margin-left: 105px; }

.mt110 {
  margin-top: 110px; }

.mb110 {
  margin-bottom: 110px; }

.mr110 {
  margin-right: 110px; }

.ml110 {
  margin-left: 110px; }

.mt115 {
  margin-top: 115px; }

.mb115 {
  margin-bottom: 115px; }

.mr115 {
  margin-right: 115px; }

.ml115 {
  margin-left: 115px; }

.mt120 {
  margin-top: 120px; }

.mb120 {
  margin-bottom: 120px; }

.mr120 {
  margin-right: 120px; }

.ml120 {
  margin-left: 120px; }

.mt125 {
  margin-top: 125px; }

.mb125 {
  margin-bottom: 125px; }

.mr125 {
  margin-right: 125px; }

.ml125 {
  margin-left: 125px; }

.mt130 {
  margin-top: 130px; }

.mb130 {
  margin-bottom: 130px; }

.mr130 {
  margin-right: 130px; }

.ml130 {
  margin-left: 130px; }

.mt135 {
  margin-top: 135px; }

.mb135 {
  margin-bottom: 135px; }

.mr135 {
  margin-right: 135px; }

.ml135 {
  margin-left: 135px; }

.mt140 {
  margin-top: 140px; }

.mb140 {
  margin-bottom: 140px; }

.mr140 {
  margin-right: 140px; }

.ml140 {
  margin-left: 140px; }

.mt145 {
  margin-top: 145px; }

.mb145 {
  margin-bottom: 145px; }

.mr145 {
  margin-right: 145px; }

.ml145 {
  margin-left: 145px; }

.mt150 {
  margin-top: 150px; }

.mb150 {
  margin-bottom: 150px; }

.mr150 {
  margin-right: 150px; }

.ml150 {
  margin-left: 150px; }

.mt155 {
  margin-top: 155px; }

.mb155 {
  margin-bottom: 155px; }

.mr155 {
  margin-right: 155px; }

.ml155 {
  margin-left: 155px; }

.mt160 {
  margin-top: 160px; }

.mb160 {
  margin-bottom: 160px; }

.mr160 {
  margin-right: 160px; }

.ml160 {
  margin-left: 160px; }

.mt165 {
  margin-top: 165px; }

.mb165 {
  margin-bottom: 165px; }

.mr165 {
  margin-right: 165px; }

.ml165 {
  margin-left: 165px; }

.mt170 {
  margin-top: 170px; }

.mb170 {
  margin-bottom: 170px; }

.mr170 {
  margin-right: 170px; }

.ml170 {
  margin-left: 170px; }

.mt175 {
  margin-top: 175px; }

.mb175 {
  margin-bottom: 175px; }

.mr175 {
  margin-right: 175px; }

.ml175 {
  margin-left: 175px; }

.mt180 {
  margin-top: 180px; }

.mb180 {
  margin-bottom: 180px; }

.mr180 {
  margin-right: 180px; }

.ml180 {
  margin-left: 180px; }

.mt185 {
  margin-top: 185px; }

.mb185 {
  margin-bottom: 185px; }

.mr185 {
  margin-right: 185px; }

.ml185 {
  margin-left: 185px; }

.mt190 {
  margin-top: 190px; }

.mb190 {
  margin-bottom: 190px; }

.mr190 {
  margin-right: 190px; }

.ml190 {
  margin-left: 190px; }

.mt195 {
  margin-top: 195px; }

.mb195 {
  margin-bottom: 195px; }

.mr195 {
  margin-right: 195px; }

.ml195 {
  margin-left: 195px; }

.mt200 {
  margin-top: 200px; }

.mb200 {
  margin-bottom: 200px; }

.mr200 {
  margin-right: 200px; }

.ml200 {
  margin-left: 200px; }

.mt205 {
  margin-top: 205px; }

.mb205 {
  margin-bottom: 205px; }

.mr205 {
  margin-right: 205px; }

.ml205 {
  margin-left: 205px; }

.mt210 {
  margin-top: 210px; }

.mb210 {
  margin-bottom: 210px; }

.mr210 {
  margin-right: 210px; }

.ml210 {
  margin-left: 210px; }

.mt215 {
  margin-top: 215px; }

.mb215 {
  margin-bottom: 215px; }

.mr215 {
  margin-right: 215px; }

.ml215 {
  margin-left: 215px; }

.mt220 {
  margin-top: 220px; }

.mb220 {
  margin-bottom: 220px; }

.mr220 {
  margin-right: 220px; }

.ml220 {
  margin-left: 220px; }

.mt225 {
  margin-top: 225px; }

.mb225 {
  margin-bottom: 225px; }

.mr225 {
  margin-right: 225px; }

.ml225 {
  margin-left: 225px; }

.mt230 {
  margin-top: 230px; }

.mb230 {
  margin-bottom: 230px; }

.mr230 {
  margin-right: 230px; }

.ml230 {
  margin-left: 230px; }

.mt235 {
  margin-top: 235px; }

.mb235 {
  margin-bottom: 235px; }

.mr235 {
  margin-right: 235px; }

.ml235 {
  margin-left: 235px; }

.mt240 {
  margin-top: 240px; }

.mb240 {
  margin-bottom: 240px; }

.mr240 {
  margin-right: 240px; }

.ml240 {
  margin-left: 240px; }

.mt245 {
  margin-top: 245px; }

.mb245 {
  margin-bottom: 245px; }

.mr245 {
  margin-right: 245px; }

.ml245 {
  margin-left: 245px; }

.mt250 {
  margin-top: 250px; }

.mb250 {
  margin-bottom: 250px; }

.mr250 {
  margin-right: 250px; }

.ml250 {
  margin-left: 250px; }

.mt255 {
  margin-top: 255px; }

.mb255 {
  margin-bottom: 255px; }

.mr255 {
  margin-right: 255px; }

.ml255 {
  margin-left: 255px; }

.mt260 {
  margin-top: 260px; }

.mb260 {
  margin-bottom: 260px; }

.mr260 {
  margin-right: 260px; }

.ml260 {
  margin-left: 260px; }

.mt265 {
  margin-top: 265px; }

.mb265 {
  margin-bottom: 265px; }

.mr265 {
  margin-right: 265px; }

.ml265 {
  margin-left: 265px; }

.mt270 {
  margin-top: 270px; }

.mb270 {
  margin-bottom: 270px; }

.mr270 {
  margin-right: 270px; }

.ml270 {
  margin-left: 270px; }

.mt275 {
  margin-top: 275px; }

.mb275 {
  margin-bottom: 275px; }

.mr275 {
  margin-right: 275px; }

.ml275 {
  margin-left: 275px; }

.mt280 {
  margin-top: 280px; }

.mb280 {
  margin-bottom: 280px; }

.mr280 {
  margin-right: 280px; }

.ml280 {
  margin-left: 280px; }

.mt285 {
  margin-top: 285px; }

.mb285 {
  margin-bottom: 285px; }

.mr285 {
  margin-right: 285px; }

.ml285 {
  margin-left: 285px; }

.mt290 {
  margin-top: 290px; }

.mb290 {
  margin-bottom: 290px; }

.mr290 {
  margin-right: 290px; }

.ml290 {
  margin-left: 290px; }

.mt295 {
  margin-top: 295px; }

.mb295 {
  margin-bottom: 295px; }

.mr295 {
  margin-right: 295px; }

.ml295 {
  margin-left: 295px; }

.mt300 {
  margin-top: 300px; }

.mb300 {
  margin-bottom: 300px; }

.mr300 {
  margin-right: 300px; }

.ml300 {
  margin-left: 300px; }

.mt305 {
  margin-top: 305px; }

.mb305 {
  margin-bottom: 305px; }

.mr305 {
  margin-right: 305px; }

.ml305 {
  margin-left: 305px; }

.mt310 {
  margin-top: 310px; }

.mb310 {
  margin-bottom: 310px; }

.mr310 {
  margin-right: 310px; }

.ml310 {
  margin-left: 310px; }

.mt315 {
  margin-top: 315px; }

.mb315 {
  margin-bottom: 315px; }

.mr315 {
  margin-right: 315px; }

.ml315 {
  margin-left: 315px; }

.mt320 {
  margin-top: 320px; }

.mb320 {
  margin-bottom: 320px; }

.mr320 {
  margin-right: 320px; }

.ml320 {
  margin-left: 320px; }

.mt325 {
  margin-top: 325px; }

.mb325 {
  margin-bottom: 325px; }

.mr325 {
  margin-right: 325px; }

.ml325 {
  margin-left: 325px; }

.mt330 {
  margin-top: 330px; }

.mb330 {
  margin-bottom: 330px; }

.mr330 {
  margin-right: 330px; }

.ml330 {
  margin-left: 330px; }

.mt335 {
  margin-top: 335px; }

.mb335 {
  margin-bottom: 335px; }

.mr335 {
  margin-right: 335px; }

.ml335 {
  margin-left: 335px; }

.mt340 {
  margin-top: 340px; }

.mb340 {
  margin-bottom: 340px; }

.mr340 {
  margin-right: 340px; }

.ml340 {
  margin-left: 340px; }

.mt345 {
  margin-top: 345px; }

.mb345 {
  margin-bottom: 345px; }

.mr345 {
  margin-right: 345px; }

.ml345 {
  margin-left: 345px; }

.mt350 {
  margin-top: 350px; }

.mb350 {
  margin-bottom: 350px; }

.mr350 {
  margin-right: 350px; }

.ml350 {
  margin-left: 350px; }

.mt355 {
  margin-top: 355px; }

.mb355 {
  margin-bottom: 355px; }

.mr355 {
  margin-right: 355px; }

.ml355 {
  margin-left: 355px; }

.mt360 {
  margin-top: 360px; }

.mb360 {
  margin-bottom: 360px; }

.mr360 {
  margin-right: 360px; }

.ml360 {
  margin-left: 360px; }

.mt365 {
  margin-top: 365px; }

.mb365 {
  margin-bottom: 365px; }

.mr365 {
  margin-right: 365px; }

.ml365 {
  margin-left: 365px; }

.mt370 {
  margin-top: 370px; }

.mb370 {
  margin-bottom: 370px; }

.mr370 {
  margin-right: 370px; }

.ml370 {
  margin-left: 370px; }

.mt375 {
  margin-top: 375px; }

.mb375 {
  margin-bottom: 375px; }

.mr375 {
  margin-right: 375px; }

.ml375 {
  margin-left: 375px; }

.mt380 {
  margin-top: 380px; }

.mb380 {
  margin-bottom: 380px; }

.mr380 {
  margin-right: 380px; }

.ml380 {
  margin-left: 380px; }

.mt385 {
  margin-top: 385px; }

.mb385 {
  margin-bottom: 385px; }

.mr385 {
  margin-right: 385px; }

.ml385 {
  margin-left: 385px; }

.mt390 {
  margin-top: 390px; }

.mb390 {
  margin-bottom: 390px; }

.mr390 {
  margin-right: 390px; }

.ml390 {
  margin-left: 390px; }

.mt395 {
  margin-top: 395px; }

.mb395 {
  margin-bottom: 395px; }

.mr395 {
  margin-right: 395px; }

.ml395 {
  margin-left: 395px; }

.mt400 {
  margin-top: 400px; }

.mb400 {
  margin-bottom: 400px; }

.mr400 {
  margin-right: 400px; }

.ml400 {
  margin-left: 400px; }

.mt405 {
  margin-top: 405px; }

.mb405 {
  margin-bottom: 405px; }

.mr405 {
  margin-right: 405px; }

.ml405 {
  margin-left: 405px; }

.mt410 {
  margin-top: 410px; }

.mb410 {
  margin-bottom: 410px; }

.mr410 {
  margin-right: 410px; }

.ml410 {
  margin-left: 410px; }

.mt415 {
  margin-top: 415px; }

.mb415 {
  margin-bottom: 415px; }

.mr415 {
  margin-right: 415px; }

.ml415 {
  margin-left: 415px; }

.mt420 {
  margin-top: 420px; }

.mb420 {
  margin-bottom: 420px; }

.mr420 {
  margin-right: 420px; }

.ml420 {
  margin-left: 420px; }

.mt425 {
  margin-top: 425px; }

.mb425 {
  margin-bottom: 425px; }

.mr425 {
  margin-right: 425px; }

.ml425 {
  margin-left: 425px; }

.mt430 {
  margin-top: 430px; }

.mb430 {
  margin-bottom: 430px; }

.mr430 {
  margin-right: 430px; }

.ml430 {
  margin-left: 430px; }

.mt435 {
  margin-top: 435px; }

.mb435 {
  margin-bottom: 435px; }

.mr435 {
  margin-right: 435px; }

.ml435 {
  margin-left: 435px; }

.mt440 {
  margin-top: 440px; }

.mb440 {
  margin-bottom: 440px; }

.mr440 {
  margin-right: 440px; }

.ml440 {
  margin-left: 440px; }

.mt445 {
  margin-top: 445px; }

.mb445 {
  margin-bottom: 445px; }

.mr445 {
  margin-right: 445px; }

.ml445 {
  margin-left: 445px; }

.mt450 {
  margin-top: 450px; }

.mb450 {
  margin-bottom: 450px; }

.mr450 {
  margin-right: 450px; }

.ml450 {
  margin-left: 450px; }

.mt455 {
  margin-top: 455px; }

.mb455 {
  margin-bottom: 455px; }

.mr455 {
  margin-right: 455px; }

.ml455 {
  margin-left: 455px; }

.mt460 {
  margin-top: 460px; }

.mb460 {
  margin-bottom: 460px; }

.mr460 {
  margin-right: 460px; }

.ml460 {
  margin-left: 460px; }

.mt465 {
  margin-top: 465px; }

.mb465 {
  margin-bottom: 465px; }

.mr465 {
  margin-right: 465px; }

.ml465 {
  margin-left: 465px; }

.mt470 {
  margin-top: 470px; }

.mb470 {
  margin-bottom: 470px; }

.mr470 {
  margin-right: 470px; }

.ml470 {
  margin-left: 470px; }

.mt475 {
  margin-top: 475px; }

.mb475 {
  margin-bottom: 475px; }

.mr475 {
  margin-right: 475px; }

.ml475 {
  margin-left: 475px; }

.mt480 {
  margin-top: 480px; }

.mb480 {
  margin-bottom: 480px; }

.mr480 {
  margin-right: 480px; }

.ml480 {
  margin-left: 480px; }

.mt485 {
  margin-top: 485px; }

.mb485 {
  margin-bottom: 485px; }

.mr485 {
  margin-right: 485px; }

.ml485 {
  margin-left: 485px; }

.mt490 {
  margin-top: 490px; }

.mb490 {
  margin-bottom: 490px; }

.mr490 {
  margin-right: 490px; }

.ml490 {
  margin-left: 490px; }

.mt495 {
  margin-top: 495px; }

.mb495 {
  margin-bottom: 495px; }

.mr495 {
  margin-right: 495px; }

.ml495 {
  margin-left: 495px; }

/*-----------------------------------
Общие настройки
-----------------------------------*/
a.return {
  display: block;
  transition: all 0.3s ease; }
  a.return i {
    display: inline-block;
    padding: 5px;
    font-size: 28px;
    color: #37363a; }
  a.return:hover {
    background: rgba(55, 54, 58, 0.1); }
    a.return:hover i {
      color: white; }

a.addPage {
  display: block;
  text-align: center;
  max-width: 250px;
  margin: 50px auto;
  font-size: 16px;
  font-weight: bold;
  color: #4bbaff; }
  a.addPage:hover, a.addPage.active {
    color: #18a6ff; }

h3 {
  color: #37363a; }

.st-formCont {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(55, 54, 58, 0.3); }
  .st-formCont .row {
    margin-bottom: 10px; }
    .st-formCont .row p {
      margin: 0;
      font-size: 12px;
      font-weight: bold; }
    .st-formCont .row input[type='text'], .st-formCont .row textarea {
      width: 250px;
      padding: 5px 8px;
      font-size: 12px;
      outline: none; }
    .st-formCont .row label {
      font-size: 12px; }

.postrNav {
  position: relative; }
  .postrNav a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 2px 4px;
    color: #4bbaff;
    vertical-align: middle;
    margin: 5px; }
    .postrNav a:hover {
      color: white;
      background: #4bbaff; }
  .postrNav span {
    font-size: 18px;
    display: inline-block;
    padding: 2px 4px;
    color: white;
    background: #4bbaff;
    vertical-align: middle; }

/*-----------------------------------
---####---
-----------------------------------*/
section.addForm {
  border: 1px solid #4bbaff;
  padding: 15px;
  box-sizing: border-box; }

section.list {
  max-width: 1024px;
  margin: 0 auto; }
  section.list ul.pageItems {
    list-style: none;
    margin: 0;
    padding: 0; }
    section.list ul.pageItems li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 10px;
      border-bottom: 1px solid #37363a; }
      section.list ul.pageItems li:hover {
        background: #cbebff; }
      section.list ul.pageItems li > a {
        font-size: 16px;
        color: #37363a;
        text-decoration: none; }
      section.list ul.pageItems li > .settings a {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        text-decoration: none;
        color: #4bbaff; }
        section.list ul.pageItems li > .settings a:hover {
          color: red; }

section.addForm {
  max-width: 1024px;
  margin: 50px auto; }

.forError {
  max-width: 1024px;
  margin: 50px auto;
  border: 1px solid red;
  font-size: 14px; }
  .forError:empty {
    display: none; }

/*-----------------------------------
Большой слайдер
-----------------------------------*/
#bigSlider .addItems {
  position: relative; }
#bigSlider .listItems {
  position: relative;
  margin-top: 35px;
  padding: 15px 0;
  border-top: 1px solid rgba(55, 54, 58, 0.5); }
  #bigSlider .listItems > li {
    width: 194.8px;
    height: 97.4px;
    margin: 0 10px 10px 0; }
    #bigSlider .listItems > li a {
      position: relative;
      justify-content: center;
      align-items: center;
      width: inherit;
      height: inherit;
      background: no-repeat center / cover;
      text-decoration: none;
      color: rgba(128, 6, 6, 0.7); }
      #bigSlider .listItems > li a .bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        opacity: 0;
        transition: all 0.3s ease; }
      #bigSlider .listItems > li a i {
        font-size: 70px;
        font-weight: bold;
        position: relative;
        opacity: 0;
        transition: all 0.3s ease; }
      #bigSlider .listItems > li a:hover .bg, #bigSlider .listItems > li a:hover i {
        opacity: 1; }

/*-----------------------------------
Работа с products
-----------------------------------*/
#products > .catBlock {
  position: relative;
  margin: 35px 0 15px 0; }
  #products > .catBlock h5 {
    color: #37363a;
    margin: 0 0 5px 0; }
  #products > .catBlock .flex {
    flex-wrap: nowrap; }
    #products > .catBlock .flex select {
      min-width: 250px;
      padding: 5px 8px;
      font-size: 12px;
      outline: none; }
#products > .listItems {
  border-top: 1px solid rgba(55, 54, 58, 0.3); }
  #products > .listItems > li {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(55, 54, 58, 0.3);
    transition: all 0.3s ease; }
    #products > .listItems > li:hover {
      background: rgba(255, 255, 255, 0.15); }
    #products > .listItems > li > .col-1 {
      position: relative; }
      #products > .listItems > li > .col-1 > .title {
        font-size: 14px;
        color: #37363a; }
        #products > .listItems > li > .col-1 > .title:hover {
          color: #4bbaff; }
    #products > .listItems > li > .col-2 {
      position: relative; }
      #products > .listItems > li > .col-2 a {
        display: inline-block;
        margin: 0 3px;
        padding: 2px 4px;
        text-decoration: none;
        color: #37363a; }
        #products > .listItems > li > .col-2 a:hover {
          background: #37363a;
          color: white; }
        #products > .listItems > li > .col-2 a i {
          font-size: 17px; }

/*# sourceMappingURL=page_settings.css.map */
